{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <h1>hey dans le Book-Panel</h1>

    <table class="table">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Edit/Delete</th>
    </tr>

    {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td><a href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a> /<a href="{{ path('category_delete', { 'id': category.id }) }}">Delete</a> </td>
        </tr>

        <a href="{{ path('category_create', { 'id': category.id }) }}">Ajouter une categorie</a>
    {% endfor %}

{% endblock %}