{% extends 'AppBundle::init.html.twig' %}

{% block body %}
    <div id="top">

        <ul class="nav">
            <li><a href="">Le Projet</a></li>
            <li><a href="">Bibliothèques</a></li>
            <li><a href="">Imprimer</a></li>
            <li><a href="">Inscription</a></li>
            <li><a href="">Compte</a></li>
        </ul>

    </div>
    <div id="middle">
        <div id="style-img">

        <img id="slide-img" src="{{ asset('assets/images/1copy.png') }}">
        <form action="" class="form">
                <input type="image" src="{{ asset('assets/images/loupe.png') }}" name="Recherche" id="icon" />
                <input class="champ" value="Search..."/>
        </form>
        </div>
        <div class="text-box">
            <p id="title">LE PROJET</p>
            <p id="description">Inter haec Orfitus praefecti potestate regebat urbem aeternam ultra modum<br> delatae dignitatis sese
                efferensinsolenter, vir quidem prudens  et forensium<br> negotiorum oppido gnarus, sed splendore liberalium
                doctrinarum minus quam<br> nobilem decuerat institutus, quo administrante seditiones sunt c\concitatae<br>
                graves ob inopiam vini: huius avidis usibus vulgus intentum ad motus asperos<br> excitatur et crebros.</p>
        </div>
        <p id="title">L'équipe</p>
        <ul class="img_circle">
            <li>
                <img src="{{ asset('assets/images/bart.png') }}">
                <ul>
                    <li>Jérémie Bart
                    <br />
                    Master 2</li>
                </ul>
            </li>
            <li>
                <img src="{{ asset('assets/images/yo.png') }}">
                <ul>
                    <li>Yoann Guéguen
                        <br />
                        Bachelor 3</li>
                </ul>
            </li>
            <li>
                <img src="{{ asset('assets/images/frezy.png') }}">
                <ul>
                    <li>Frezy Stone
                        <br />
                        Bachelor 2</li>
                </ul>
            </li>
            <li>
                <img src="{{ asset('assets/images/bapt.png') }}">
                <ul>
                    <li>Baptiste Dumont
                        <br />
                        Bachelor 1</li>
                </ul>
            </li>
            <li>
                <img src="{{ asset('assets/images/cha.png') }}">
                <ul>
                    <li>Charlotte Roth
                        <br />
                        Bachelor 3</li>
                </ul>
            </li>
            <li>
                <img src="{{ asset('assets/images/oceane.png') }}">
                <ul>
                    <li>Océane
                        <br />
                        Bachelor 1</li>
                </ul>
            </li>
        </ul>
        <img id="traits-img" src="{{ asset('assets/images/traits.png') }}" title="img" alt="Image">
    </div>
{% endblock %}
